In [1]:
import pandas

In [1]:
events = pandas.read_csv("/ServersExercise/Data/connectivity_events.csv")

NameError: name 'pandas' is not defined

In [2]:
import pandas
events = pandas.read_csv("/ServersExercise/Data/connectivity_events.csv")

In [3]:
events

             2015-05-31 14:30:00    100     4   2   true
0            2015-05-31 14:30:00    101     1   2   True
1            2015-05-31 14:30:00    102     1   2   True
2            2015-05-31 14:30:00    103    26   2   True
3            2015-05-31 14:30:00    104     1   2   True
4            2015-05-31 14:30:00    105     1   2   True
5            2015-05-31 14:30:00    106     1   2   True
6            2015-05-31 14:30:00     10     6   2   True
7            2015-05-31 14:30:00    107     1   2   True
8            2015-05-31 14:30:00    108    27   2   True
9            2015-05-31 14:30:00    109     1   2   True
10           2015-05-31 14:30:00    110     1   2   True
11           2015-05-31 14:30:00     11     1   2   True
12           2015-05-31 14:30:00    111    28   2   True
13           2015-05-31 14:30:00      1     1   2   True
14           2015-05-31 14:30:00    112     1   2   True
15           2015-05-31 14:30:00    113     1   2   True
16           2015-05-31 14:30:00    114     1   2   True
17           2015-05-31 14:30:00    115     1   2   True
18           2015-05-31 14:30:00    116     1   2   True
19           2015-05-31 14:30:00    117     1   2   True
20           2015-05-31 14:30:00    118     1   2   True
21           2015-05-31 14:30:00    119     1   2   True
22           2015-05-31 14:30:00    120     1   2   True
23           2015-05-31 14:30:00    121     1   2   True
24           2015-05-31 14:30:00     12     1   2   True
25           2015-05-31 14:30:00    122     1   2   True
26           2015-05-31 14:30:00    123     1   2   True
27           2015-05-31 14:30:00    124     4   2   True
28           2015-05-31 14:30:00    125     1   2   True
29           2015-05-31 14:30:00    126    29   2   True
...                          ...    ...   ...  ..    ...
9308176  2018-02-28 23:59:28.217  39090  4091  33  False
9308177  2018-02-28 23:59:29.892  37871  2035  33  False
9308178  2018-02-28 23:59:30.884  28377  2035  33  False
9308179    2018-02-28 23:59:31.7  27805  1325  33  False
9308180   2018-02-28 23:59:32.35  55988  2870  33  False
9308181  2018-02-28 23:59:33.565  40011  4143  33  False
9308182  2018-02-28 23:59:34.183  49060  1054  33   True
9308183  2018-02-28 23:59:41.259  55017   885  33  False
9308184  2018-02-28 23:59:41.341  55017   885  33   True
9308185  2018-02-28 23:59:42.861  35162  2035  33  False
9308186  2018-02-28 23:59:42.997  35162  2035  33   True
9308187  2018-02-28 23:59:44.507  37871  2035  33   True
9308188  2018-02-28 23:59:45.647  56277  2676  33   True
9308189   2018-02-28 23:59:47.32  27805  1325  33   True
9308190  2018-02-28 23:59:47.652  53843  3778  33  False
9308191  2018-02-28 23:59:47.727  53843  3778  33   True
9308192  2018-02-28 23:59:48.097  28377  2035  33   True
9308193   2018-02-28 23:59:48.81  32357  1716  33  False
9308194  2018-02-28 23:59:50.563  30258  1136  33  False
9308195  2018-02-28 23:59:50.685  55848  3775  33   True
9308196  2018-02-28 23:59:51.467  14825   477  33  False
9308197   2018-02-28 23:59:53.02  46592  4675  33   True
9308198  2018-02-28 23:59:53.483  28593  1792  33   True
9308199  2018-02-28 23:59:53.786  32357  1716  33   True
9308200  2018-02-28 23:59:53.793  18387  2518  33  False
9308201  2018-02-28 23:59:53.886  47630  4675  33   True
9308202  2018-02-28 23:59:53.892  27958  1792  33  False
9308203  2018-02-28 23:59:56.655  28766  1792  33   True
9308204  2018-02-28 23:59:59.505  18387  2518  33   True
9308205   2018-02-28 23:59:59.77  53843  3778  33  False

[9308206 rows x 5 columns]

In [15]:
servers = pandas.read_csv("/ServersExercise/Data/servers.csv")
servers

       2  2015-05-31 14:30:00.000000  2017-08-03 22:42:57.929
0      3  2017-08-03 22:43:07.392988  2017-08-03 22:46:50.279
1      4  2017-08-03 22:46:57.243687  2017-08-08 01:02:16.079
2      5  2017-08-08 01:02:26.761809  2017-08-29 19:57:59.039
3      6  2017-08-29 19:58:06.928351  2017-08-29 20:10:36.166
4      7  2017-08-29 20:10:54.350097  2017-08-29 20:12:49.873
5      8  2017-08-29 20:12:51.954571  2017-09-02 12:32:37.348
6      9  2017-09-02 12:32:45.278531  2017-09-02 15:09:47.493
7     10  2017-09-02 15:10:07.885013  2017-09-02 19:03:18.145
8     11  2017-09-02 19:03:20.639235  2017-09-03 15:13:26.263
9     12  2017-09-03 15:15:13.687021  2017-09-26 16:10:32.688
10    13  2017-09-26 16:10:36.230545  2017-10-10 20:31:43.062
11    14  2017-10-10 20:31:53.171018   2017-10-11 16:32:45.27
12    15  2017-10-11 16:32:49.085334  2017-10-17 00:50:02.091
13    16  2017-10-17 00:50:09.487556  2017-11-03 20:15:19.644
14    17  2017-11-03 20:20:36.050468  2017-11-04 00:11:43.456
15    18  2017-11-04 00:11:51.118728  2017-11-09 20:00:46.998
16    19   2017-11-09 20:01:36.97067  2017-11-22 16:15:45.274
17    20  2017-11-22 16:15:57.285482  2017-12-08 23:35:12.164
18    21  2017-12-08 23:52:48.914468  2017-12-09 01:09:22.285
19    22  2017-12-08 23:53:21.739516  2017-12-08 23:53:20.921
20    23  2017-12-08 23:55:50.180261  2017-12-08 23:55:49.203
21    24  2017-12-08 23:57:38.456028  2017-12-08 23:57:37.678
22    25  2017-12-09 01:46:14.336618  2017-12-11 22:13:23.035
23    26  2017-12-11 22:13:30.831468  2017-12-13 17:03:45.565
24    27  2017-12-13 17:03:53.912771  2018-01-08 13:18:51.058
25    28  2018-01-08 13:19:01.744274  2018-01-12 17:05:49.192
26    29  2018-01-12 17:01:54.553283  2018-02-12 15:06:52.974
27    30  2018-02-12 15:07:02.002169  2018-02-16 12:55:57.376
28    31   2018-02-16 12:56:07.98207  2018-02-16 22:45:43.895
29    32   2018-02-16 22:42:16.20626  2018-02-26 15:52:07.692
..   ...                         ...                      ...
157  160  2018-04-17 16:22:30.878066    2018-04-17 16:32:32.9
158  161  2018-04-17 16:22:30.910374  2018-04-17 16:32:32.968
159  162  2018-04-17 16:22:31.893807  2018-04-17 16:32:43.837
160  163  2018-04-17 16:22:31.963228  2018-04-17 16:32:43.795
161  164  2018-04-17 16:22:31.953523  2018-04-17 16:32:44.872
162  165  2018-04-17 16:22:32.131177  2018-04-17 16:32:43.788
163  166  2018-04-17 16:22:36.130394  2018-04-17 16:32:47.676
164  167  2018-04-17 16:22:36.164514  2018-04-17 16:32:48.449
165  168  2018-04-17 16:22:36.189082  2018-04-17 16:32:47.969
166  169  2018-04-17 16:22:36.247721  2018-04-17 16:32:47.805
167  170  2018-04-17 16:22:36.672463  2018-04-17 16:32:48.649
168  171  2018-04-17 16:22:36.771539  2018-04-17 16:32:48.451
169  172  2018-04-17 16:22:36.787236  2018-04-17 16:32:48.368
170  173  2018-04-17 16:22:36.855593  2018-04-17 16:32:48.636
171  174  2018-04-17 16:31:10.563929  2018-05-15 04:37:41.837
172  175  2018-04-17 16:31:10.600702  2018-05-15 04:37:48.299
173  176    2018-04-17 16:31:17.6957  2018-05-15 04:37:44.651
174  177  2018-04-17 16:31:18.335004  2018-04-17 16:52:22.241
175  178  2018-04-17 16:31:18.335976  2018-04-17 16:52:22.626
176  179  2018-04-17 16:31:18.405646  2018-04-17 16:52:22.626
177  180  2018-04-17 16:31:18.441483  2018-04-17 16:52:21.775
178  181  2018-04-17 16:31:23.322283  2018-05-15 04:37:44.929
179  182  2018-04-17 16:31:23.329347   2018-05-15 04:37:46.51
180  183  2018-04-17 16:31:23.356601   2018-05-15 04:37:41.23
181  184  2018-04-17 16:31:23.361088  2018-05-15 04:37:40.794
182  185  2018-04-17 16:31:25.719041  2018-05-15 04:37:42.011
183  186  2018-04-17 16:31:29.789705   2018-04-17 16:52:23.67
184  187  2018-04-17 16:31:29.826733  2018-04-17 16:52:24.469
185  188  2018-04-17 16:31:29.868308  2018-04-17 16:52:25.338
186  189  2018-04-17 16:31:29.880026  2018-04-17 16:52:23.556

[187 rows x 3 columns]

In [18]:
row_num = 0
row = events[:0]
row

Empty DataFrame
Columns: [2015-05-31 14:30:00, 100, 4, 2, true]
Index: []